:root {
  --primary-color: rgb(251, 85, 51);
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --border-color: #dbdbdb;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --gold-color: rgb(229, 204, 10);

  --header-height: 120px;
  --navbar-height: 34px;
  --mainbar-height: calc(var(--header-height) - var(--navbar-height) - 5px);
  --search-btn-width: 60px;
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
/* Responsive */
.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid_full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

/* Test */
.grid__column-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}
.grid__column-10 {
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3334%;
}
.grid__column-10-2{
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}
/* Animation Qrcode popup */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes growth {
  from {
    transform: scale(var(--growth-from));
  }

  to {
    transform: scale(var(--growth-to));

  }
}

/* Animation notification popup*/
@keyframes nofifyPopup {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
/* section  */
.select-input{
  height: 34px;
  min-width: 200px;
  padding: 0 12px;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-color);
  position: relative;
  z-index: 1;
}
.select-input:hover .select-input__list{
  display: block;
}
.select-input__label{
  font-size: 1.4rem;
  color: var(--text-color);
}
.select-input__icon{
  font-size: 1.4rem;
  color: rgb(131, 131, 131);
  position: relative;
  top: 1px;
}
.select-input__list{
  position: absolute;
  left: 0;
  right: 0;
  top: 25px;
  border-radius: 2px;
  background-color: var(--white-color);
  padding: 8px 12px;
  list-style: none;
  display: none;
  box-shadow: var(--box-shadow);
}
.select-input__link{
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  display: block;
  padding: 6px 0;
  cursor: pointer;
}
.select-input__link:hover{
  color: var(--primary-color);
}
