/* HEADER AREAS */

.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #ff6433, #f53e2d);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  list-style: none;
  padding-left: 0;
  top: 10px;
}

.navbar-list.navbar-list--right {
  margin-top: 0;
}

.navbar-item,
.navbar-item_link,
.navbar-item1 {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.navbar-item {
  margin: 0 9px;
  position: relative;
  cursor: pointer;
}

.navbar-item1 {
  margin-right: 9px;
  position: relative;
  cursor: pointer;
  font-size: 1.3rem;
}

.navbar-item1:hover {
  opacity: 0.8;
}


.navbar-item:hover {
  opacity: 0.8;
}

.navbar-item::before {
  display: block;
  height: 10px;
  width: 2px;
  background-color: rgba(255, 255, 255, 1);
}

.navbar-item_link--bold {
  font-weight: 400;
}

.navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 1px;
  right: -10px;
  top: 0;
}
.navbar-item a{
  text-decoration: none;
}
.navbar-item_icon {
  font-size: 1.3rem;
  color: var(--white-color);
  margin-left: 3px;
}

.navbar-item--userinfo {
  display: inline-block;
  position: relative;
}

.navbar-item_img {
  height: 25px;
  width: 25px;
  border-radius: 25px;
  object-fit: cover;
  top: 7px;
  position: relative;
}

.navbar-item_name {
  margin: 0px 2px;
}

.navbar-item_option {
  position: absolute;
  top: 35px;
  right: 0;
  width: 150px;
  background-color: var(--white-color);
  border-radius: 2px;
  border: 1px solid #D3D3D3;
  color: var(--text-color);
  z-index: 1;
  display: none;
  transform-origin: calc(100% - 32px) top;
  animation: nofifyPopup ease-in 0.2s;
  will-change: opacity, transform;
  box-shadow: var(--box-shadow);
}

.navbar-item_option::before {
  content: "";
  border-width: 13px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 10px;
  top: -25px;
  z-index: 1;
}

.navbar-item_option::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  display: block;
  z-index: 1;
  top: -20px;
  right: 0;
}

.navbar-item--userinfo:hover .navbar-item_option {
  display: block;
}

.navbar-item_option-item {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  padding-left: 10px;
  cursor: pointer;
}

.navbar-item_option-item.navbar-item_option-item--logout {

  color: #08ac7d;
}

.navbar-item_option-item:hover {
  color: var(--primary-color);
}

/* Main bar */
.main-bar {
  display: flex;
  height: var(--mainbar-height);
}

.main-bar_logo {
  height: 60px;
  width: 200px;
  filter: brightness(10);
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.main-bar_text {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--white-color);
  margin-right: 45px;

}

.search-bar_container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 5%;
}

.search-bar {
  margin-top: 15px;
  height: 40px;
  background-color: var(--white-color);
  display: flex;
  cursor: text;
  align-items: center;
  border-radius: 2px;
  position: relative;
}

.search-bar_input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 8px;

  border-radius: 2px;
}

/* Search History */

.search-bar_input:focus~.search-bar_history {
  display: block;
}

.search-bar_history {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: calc(100% - 16px - var(--search-btn-width));
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: var(--box-shadow);
  display: none;
  overflow: hidden;
  z-index: 3;
}

.search-bar_history-heading {
  padding: 0;
  margin: 6px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.search-bar_history-list {
  padding-left: 0;
  list-style: none;
  margin: 0;
  margin-top: 8px;

}

.search-bar_history-item {
  height: 38px;
  padding: 0 12px;
  text-decoration: none;
}

.search-bar_history-item:hover {
  background-color: #fafafa;
}

.search-bar_history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 38px;
  display: block;
}


.search-bar_btn {
  background-color: #fb5533;
  height: 32px;
  width: var(--search-btn-width);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
  cursor: pointer;
  outline: none;
}

.search-bar_btn:hover {
  opacity: 0.8;
}

.search-bar_btn_icon {
  font-size: 1.5rem;
  color: var(--white-color);
  border-color: var(--white-color);
  border-width: 2px;
}


.cart {
  position: relative;
}

.main-bar_cart {
  font-size: 2.5rem;
  color: var(--white-color);
  cursor: pointer;
  padding: 20px;
  text-align: center;
  position: relative;
}

/* Badge number */
.main-bar_badge {
  display: block;
  font-size: 1.4rem;
  padding: 1px 6px;
  border-radius: 10px;
  border: 2px solid #f14a28;
  background-color: var(--white-color);
  line-height: 1.4rem;
  top: 8px;
  right: 8px;
  position: absolute;
  color: #f53e2d;
  font-family: 'Roboto', sans-serif;
}


.navbar-item--dont-hover:hover {
  opacity: 1;
  cursor: default;
}

.fa-brands:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Qr Code Area */
.navbar-item--hasqr:hover .navbar-item_popup {
  display: flex;
  cursor: default;
}

.navbar-item--downloadapp {
  margin: 0;
}

.navbar-item_popup {
  display: none;
  position: absolute;
  width: 190px;
  height: auto;
  padding: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 0px;
  z-index: 2;
  border-radius: 2px;
  box-shadow: var(--box-shadow);
  background-color: var(--white-color);
  margin-top: 10px;
  animation: fadeIn ease 0.5s;
  will-change: opacity, transform;

}

.navbar-item_popup_qr {
  height: 160px;
  width: 160px;
}

.navbar-item_popup::before {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  top: -20px;
}

.navbar-item_popup_groupimg {
  display: flex;
  flex-wrap: wrap;
  max-width: 145px;
  justify-content: space-between;
}

.maketplace {
  height: 16px;
  margin-bottom: 6px;
}

/*Header Notifications */
.header_notify {
  position: absolute;
  top: 25px;
  right: 0;
  width: 404px;
  border-radius: 2px;
  background-color: var(--white-color);
  border: 1px solid #D3D3D3;
  color: var(--text-color);
  z-index: 1;
  display: none;
  transform-origin: calc(100% - 32px) top;
  animation: nofifyPopup ease-in 0.2s;
  will-change: opacity, transform;
  box-shadow: var(--box-shadow);
}

.header_notify::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 25px;
  display: block;
  z-index: 1;
  top: -25px;
}

.navbar-item--hasinfo:hover .header_notify {
  display: block;
}

.header_notify-header {
  height: 40px;
  background-color: var(--white-color);
  user-select: none;
}

.header_notify-header::before {
  content: "";
  border-width: 13px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 10px;
  top: -25px;
  z-index: 1;
}

.header_notify-header h3 {
  color: #999;
  margin: 0 0 0 12px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 40px;
}

.header_notify-list {
  padding-left: 0;
  list-style: none;
}


.header_notify-item:hover {
  background-color: rgba(230, 229, 229, 0.3);
}

.header_notify-item--viewed {
  background-color: rgba(251, 85, 51, 0.1);
}

.header_notify-link {
  display: flex;
  padding: 12px;
  cursor: pointer;
}

.header_notify-img {
  width: 48px;
  object-fit: contain;
  margin-right: 12px;
}

.header_notify-info {
  flex: 1;
}

.header_notify-name {
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  margin-bottom: 5px;
  font-weight: 400;
}

.header_notify-desc {
  display: block;
  font-size: 1.2rem;
  color: #756F6E;
}

.header_notify-footer {
  display: flex;
  margin: 4px 0;
}

.header_notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  padding: 8px 16px;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}

/* Language popup */
.navbar-item_lang {
  position: absolute;
  top: 25px;
  right: 0;
  width: 200px;
  background-color: var(--white-color);
  border-radius: 2px;
  border: 1px solid #D3D3D3;
  color: var(--text-color);
  z-index: 1;
  display: none;
  transform-origin: calc(100% - 32px) top;
  animation: nofifyPopup ease-in 0.2s;
  will-change: opacity, transform;
  box-shadow: var(--box-shadow);
}

.navbar-item_lang::before {
  content: "";
  border-width: 13px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 10px;
  top: -25px;
  z-index: 1;
}

.navbar-item_lang::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  display: block;
  z-index: 1;
  top: -20px;
  right: 0;
}

.navbar-item--haslang:hover .navbar-item_lang {
  display: block;
}

.navbar-item_lang h4 {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  padding-left: 10px;
  cursor: pointer;
}

.navbar-item_lang h4:hover {
  color: var(--primary-color);
}

/* Popup cart */
/* W : 400px H:220px */
.cart_haspopup:hover .cart_popup {
  display: flex;
  font-family: 'Roboto', sans-serif;
}

/* 120px is height of header */
.cart_popup::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  display: block;
  z-index: 1;
  top: -20px;
  right: 0;
  transform-origin: calc(100% - 32px) top;
}

.cart_popup {
  display: none;
  width: 400px;
  top: 82%;
  right: 6px;
  position: absolute;
  background-color: var(--white-color);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  z-index: 1;
  animation: nofifyPopup ease-in 0.2s;
  will-change: opacity, transform;
  box-shadow: var(--box-shadow);
  flex-direction: column;
  transform-origin: calc(100% - 32px) top;
  cursor: default !important;
  font-family: 'Roboto', sans-serif;
}

.cart_popup--no-cart {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cart_popup--no-cart .cart_popup--img,
.cart_popup--no-cart .cart_popup_text {
  display: flex;
}

.cart_popup::before {
  content: "";
  border-width: 13px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 5px;
  top: -25px;
  z-index: 1;
}

.cart_popup--img {
  height: 140px;
  width: auto;
  margin-bottom: 20px;
  cursor: default;
  display: none;
}

.cart_popup_text {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  cursor: text;
  display: none;
}


.cart_popup--has-cart {
  display: flex;
  flex-direction: column;
}

.cart_popup--has-cart .cart_popup-heading,
.cart_popup--has-cart .cart_popup-list-item {
  display: flex;
}

.cart_popup-heading {
  font-size: 1.6rem;
  color: var(--text-color);
  font-weight: 400;
  margin: 10px;
}

.cart_popup-list-item {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 60vh;
  overflow-y: scroll;
}

.cart_popup-list-item::-webkit-scrollbar {
  display: none;
}

.cart_popup-item {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 10px 10px;
}

.cart_popup-item:hover {
  background-color: #fafafa;
}

.cart_popup-item+.cart_popup-item {
  margin-top: 15px;
}

.cart_popup-item-img {
  width: 50px;
  height: 50px;
}

.cart_popup-container-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  flex: 1;
}

.cart_popup-header-price-number {
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.cart_popup-header {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart_popup-price-number {
  display: flex;
}

.cart_popup-price {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-right: 5px;
}

.cart_popup-number {
  color: #888;

}

.cart_popup-type-delete {
  font-weight: 400;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart_popup-type {
  color: #888;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart_popup-delete {
  font-size: 1.6rem;
}

.cart_popup-btn {
  font-size: 1.5rem;
  width: 150px;
  height: 36px;
  margin: 10px 10px 10px 0;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  background-color: var(--primary-color);
  color: var(--white-color);
  align-self: flex-end;
}

.cart_popup-btn:hover {
  opacity: 0.8;
}

/* BODY AREAS */

/* Modal Login Form */
.modal {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  animation: fadeIn linear 0.1s;
}

.modal_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.2;
}

.modal_body {
  --growth-from: 0.7;
  --growth-to: 1;
  height: 500px;
  width: 500px;
  margin: auto;
  background-color: var(--white-color);
  z-index: 1;
  position: relative;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: growth linear 0.1s;

}

.modal_inner {
  flex: 9;

}

.auth-form {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.auth-form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;

}

.auth-form__header span {
  padding: 0;
  font-weight: 600;
}

.auth-form__heading {
  font-size: 2rem;
  color: var(--text);
  cursor: text;
}

.auth-form__switch-btn {
  cursor: pointer;
  color: var(--primary-color);
  font-size: 1.5rem;
}

.auth-form__form {
  display: flex;
  flex-direction: column;
}

.auth-form__group {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.auth-form__input {
  margin-bottom: 12px;
  padding: 12px;
  font-size: 1.4rem;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  outline: none;
  font-weight: 400;
  border-radius: 2px;
  border: 1px solid var(--border-color);
}

.auth-form__input:focus {
  border-color: #888;
}

.auth-form__aside {
  display: contents;
  font-weight: 400;
}

.auth-form__policy-text {
  font-size: 1.4rem;
  color: var(--text-color);
  text-align: center;
}

.auth-form__policy--link {
  text-decoration: none;
  color: var(--primary-color);
}

.auth-form__controls {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 40px;
}

.btn {
  min-width: 142px;
  height: 36px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  color: var(--text-color);
}

.btn:hover {
  opacity: 0.8;
}

.btn--primary {
  background-color: var(--primary-color) !important;
  color: var(--white-color);
  margin-left: 20px;
}

.btn--disable {
  color: #949494;
  cursor: default;
  background-color: #c3c3c3;
  margin-left: 20px;

}

.auth-form__socials {
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #f5f5f5;
  text-align: center;
}

.btn_social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 25px;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}

.btn_social+.btn_social {
  margin-left: 20px;
}

.btn--with-icon-facebook {
  background-color: #3A5A98;
}

.btn--with-icon-google {
  background-color: var(--white-color);
}

.btn--with-icon-facebook i {
  color: var(--white-color);
  font-size: 2rem;

}

.btn--with-icon-google img {
  color: #e34133;
  height: 20px;
  width: 20pxs;

}

.btn__textface {
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: 200;
  margin-left: 10px;
  line-height: 0;
}

.btn__textgg {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
  margin-left: 10px;
  line-height: 0;
}

/* Login Form */
.auth-form__help {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;

}

.auth-form__seperate {
  display: block;
  height: 22px;
  margin: 0px 16px 4px;
  border-left: 1px solid var(--border-color);
}

.auth-form__help-link {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  color: #888;
  cursor: pointer;
}

.auth-form__help-link.auth-form__help-link--default {
  color: var(--primary-color);
}

/* App container */
.app__container{
  background-color: #f5f5f5;
  padding-top: 36px;
}

.category{
  background-color: var(--white-color);
  border-radius: 2px;
}
.category__heading{
  margin: 0;
  font-size: 1.7rem;
  font-weight: 450;
  color: var(--text-color);
  padding: 12px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
}
.category__heading-icon{
  font-size: 1.4rem;
  margin-right: 4px;
  position: relative;
  top:-1px;
}
.category-list{
  padding: 0 0 8px 0;
  list-style: none;
  margin-left: 13px;
}

.category-item--active .category-item__link{
 color: var(--primary-color);
}
.category-item--active .category-item__link::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 2px;
  margin-right: 5px;
  border: 4px solid;
  transform: translateY(-50%);
  border-color: transparent transparent transparent var(--primary-color);
}
.category-item__link{
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 400;
  padding: 6px 10px;
  display: block;
  transition: right linear 0.1s ;
  right: 0;
}
.category-item__link:hover{
  right: -4px;
}
/* filter */
.home-filter{
  display: flex;
  background-color: rgba(0, 0, 0, 0.02) ;
  align-items:center;
  padding: 0px 22px;
  border-radius: 2px;
}
.home-filter_label{
  font-size: 1.4rem;
  color: #555;
  margin-right: 16px;
}
.home-filter_btn{
  margin: 12px;
  min-width: 90px;
  background-color: var(--white-color);
  font-size: 1.4rem;
}
.home-filter__page{
  display: flex;
  align-items:center;
}
.home-filter__page{
  margin-left: auto;
  font-size: 1.5rem;
  color: var(--text-color);
}
.home-filter__page-num{
  margin-right: 22px;
}
.home-filter__page-current{
  color: var(--primary-color);
}
.home-filter__page-control{
  color: var(--text-color);
  border-radius: 2px;
  overflow: hidden;
  width: 72px;
  height: 36px;
  display: flex;
}
.home-filter__page-btn{
  flex:1;
  display: flex;
  background-color: var(--white-color);
  text-decoration: none;

}

.home-filter__page-btn--disabled{
  color: #F9F9F9;
  cursor: default;
}
.home-filter__page-btn--disabled .home-filter__page-icon{
  color: #ccc ;
}
.home-filter__page-btn:first-child{
  border-right: 1px solid #EEE;

}
.home-filter__page-icon{
  margin: auto;
  color:  #555;
}
.home-filter__page-separate{
  display: block;
  border-radius: 2px;
  border: 1px solid var(--text-color);
}

/* Product item */
.home-product{
  margin-bottom: 10px;
}

.home-product-item{
  background-color: var(--white-color);
  margin-top:10px;
  position: relative;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: transform linear 0. 0.1s;
  will-change: transform;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.home-product-item:hover{
  transform: translateY(-1px);
  box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);

}

.home-product-item__img{
  padding-top: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:top center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.home-product-item__name{
  font-size: 1.4rem;
  font-weight: 450;
  color: var(--text-color);
  margin: 10px 10px 6px 10px;
  line-height: 1.8rem;
  height: 3.6rem;
  overflow:hidden;
  display: block;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
/* 
  text-overflow: ellipsis;
  white-space: nowrap; */
}

.home-product-item__price{
  display: flex;
  font-weight: 450;
  align-items: baseline;

  flex-wrap: wrap;
}
.home-product-item__price-old{
  font-size: 1.4rem;
  color: #666;
  text-decoration: line-through;
  margin-left: 10px;
}

.home-product-item__price-current{
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-left: 10px;
}

.home-product-item__action{
  display: flex;
  justify-content: space-between;
  margin: 12px 10px 12px;
  color: var(--text-color);
}

.home-product-item__like{
  font-size: 1.3rem;
}

i.home-product-item__like-icon--fill{
  display: none;
  color: #F63D36;
}

.home-product-item__like--liked .home-product-item__like-icon--fill{
  display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon--empty{
  display: none;
}

.home-product-item__rating{
  font-size: 1.2rem;
  transform: scale(0.8);
  transform-origin: right;
  color: #888;
  margin: -1px 0 0 auto;
}
.home-product-item__rating--gold{
  color: var(--gold-color);
}

.home-product-item__sold{
  font-size: 1.2rem;
  font-weight: 450;
  margin-left: 6px;
}

.home-product-item__origin{
  display: flex;
  justify-content: space-between;
  margin: 0 10px 5px;
  color: #595959;
  font-size: 1.2rem;
  font-weight: 400;
}

.home-product-item__brand{

}

.home-product-item__origin-name{

}

.home-product-item__favourite{
  position: absolute;
  top: 10px;
  left: -4px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.6rem;
  padding-right: 4px;
  border-top-right-radius: 3px ;
  border-bottom-right-radius: 3px ;
}

.home-product-item__favourite::before{
  content: "";
  position: absolute;
  left:0;
  bottom: -3px;
  border-top: 3px solid var(--primary-color);
  border-left: 3px solid transparent;
  filter: brightness(40%);
}

.home-product-item__favourite i{
  font-size: 0.9rem;
  margin: 0 2px 0 5px ;
}

.home-product-item__sale-off{
  position: absolute;
  top: 0;
  right: 0;
  height: 36px;
  width: 40px;
  background-color: rgba(255, 216, 64, 0.94);
  text-align: center;
  border-top-right-radius: 2px;
}

.home-product-item__sale-off::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  border-width: 0 20px 5px;
  border-style: solid;
  border-color: transparent  rgba(255, 216, 64, 0.94) transparent  rgba(255, 216, 64, 0.94);;
}

.home-product-item__sale-off-percent{
  color:var(--primary-color) ;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.3rem;
  position: relative;
  top: 3px;
}

.home-product-item__sale-off-label{
  color: var(--white-color);
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 600;
  position: relative;
  top: 5px;
}
/* pagination */
.pagination__home-product{
  margin: 48px 0 32px 0;
}
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.pagination-item--active .pagination-item__link{
  color: var(--white-color);
  background-color: var(--primary-color);
}
.pagination-item{
  margin: 0 12px;
}
.pagination-item__link{
  display: block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
  color: #939393;
  min-width: 40px;
  --height: 30px;
  height: var(--height);
  line-height: var(--height);
  text-align: center;
  border-radius: 2px;
}
.pagination-item__link:hover{
  opacity: 0.8;
}

/* Footer */
.footer{
  padding-top: 12px;
  border-top:4px solid var(--primary-color) ;
  background-color: var(--white-color);
}
.footer__heading{
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--text-color);
}
.footer-list{
  padding-left: 0;
  list-style: none;
}
.footer-item__link{
  text-decoration: none;
  color: #737373;
  font-size: 1.2rem;
  padding: 2px 0;
  margin: 5px 0;
  display: flex;
  align-items: center;
}
.footer-item__link:hover{
  color: var(--primary-color);
}
.footer-item__link-icon{
  font-size: 1.6rem;
  margin-top: -1px;
  margin-right: 8px;
}
.footer__download{
  display: flex;
}
.footer_download-qr{
  width: 80px;
  height: 80px;
}
.footer__download-apps{
  margin-left: 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__download-apps-link{
  text-decoration: none;
  color: transparent;
}
.footer__download-app-img{
  height: 16px;
  margin-bottom: 8px;
}
.footer__bottom{
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
}
.footer_policy{
  margin: 0;
  font-size: 1.1rem;
  color: #737373;
}