/* HEADER AREAS */
.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #ff6433, #f53e2d);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-list {
  list-style: none;
  padding-left: 0;
  top: 10px;
}

.navbar-list.navbar-list--right {
  margin-top: 0;
}

.navbar-item,
.navbar-item_link,
.navbar-item1 {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.navbar-item {
  margin: 0 9px;
  position: relative;
  cursor: pointer;
}

.navbar-item1 {
  margin-right: 9px;
  position: relative;
  cursor: pointer;
  font-size: 1.3rem;
}

.navbar-item1:hover {
  opacity: 0.8;
}


.navbar-item:hover {
  opacity: 0.8;
}

.navbar-item::before {
  display: block;
  height: 10px;
  width: 2px;
  background-color: rgba(255, 255, 255, 1);
}

.navbar-item_link--bold {
  font-weight: 400;
}

.navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 1px;
  right: -10px;
  top: 0;
}
.navbar-item a{
  text-decoration: none;
}
.navbar-item_icon {
  font-size: 1.3rem;
  color: var(--white-color);
  margin-left: 3px;
}

.navbar-item--userinfo {
  display: inline-block;
  position: relative;
}

.navbar-item_img {
  height: 25px;
  width: 25px;
  border-radius: 25px;
  object-fit: cover;
  top: 7px;
  position: relative;
}

.navbar-item_name {
  margin: 0px 2px;
}

.navbar-item_option {
  position: absolute;
  top: 35px;
  right: 0;
  width: 150px;
  background-color: var(--white-color);
  border-radius: 2px;
  border: 1px solid #D3D3D3;
  color: var(--text-color);
  z-index: 1;
  display: none;
  transform-origin: calc(100% - 32px) top;
  animation: nofifyPopup ease-in 0.2s;
  will-change: opacity, transform;
  box-shadow: var(--box-shadow);
}

.navbar-item_option::before {
  content: "";
  border-width: 13px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 10px;
  top: -25px;
  z-index: 1;
}

.navbar-item_option::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  display: block;
  z-index: 1;
  top: -20px;
  right: 0;
}

.navbar-item--userinfo:hover .navbar-item_option {
  display: block;
}

.navbar-item_option-item {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  padding-left: 10px;
  cursor: pointer;
}

.navbar-item_option-item.navbar-item_option-item--logout {

  color: #08ac7d;
}

.navbar-item_option-item:hover {
  color: var(--primary-color);
}

/* Main bar */
.main-bar {
  display: flex;
  height: var(--mainbar-height);
}

.main-bar_logo {
  height: 60px;
  width: 200px;
  filter: brightness(10);
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.main-bar_text {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--white-color);
  margin-right: 45px;

}

.search-bar_container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 5%;
}

.search-bar {
  margin-top: 15px;
  height: 40px;
  background-color: var(--white-color);
  display: flex;
  cursor: text;
  align-items: center;
  border-radius: 2px;
  position: relative;
}

.search-bar_input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 0 8px;

  border-radius: 2px;
}

/* Search History */

.search-bar_input:focus~.search-bar_history {
  display: block;
}

.search-bar_history {
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  width: calc(100% - 16px - var(--search-btn-width));
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: var(--box-shadow);
  display: none;
  overflow: hidden;
  z-index: 3;
}

.search-bar_history-heading {
  padding: 0;
  margin: 6px 12px;
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.search-bar_history-list {
  padding-left: 0;
  list-style: none;
  margin: 0;
  margin-top: 8px;

}

.search-bar_history-item {
  height: 38px;
  padding: 0 12px;
  text-decoration: none;
}

.search-bar_history-item:hover {
  background-color: #fafafa;
}

.search-bar_history-item a {
  text-decoration: none;
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 38px;
  display: block;
}


.search-bar_btn {
  background-color: #fb5533;
  height: 32px;
  width: var(--search-btn-width);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
  cursor: pointer;
  outline: none;
}

.search-bar_btn:hover {
  opacity: 0.8;
}

.search-bar_btn_icon {
  font-size: 1.5rem;
  color: var(--white-color);
  border-color: var(--white-color);
  border-width: 2px;
}


.cart {
  position: relative;
}

.main-bar_cart {
  font-size: 2.5rem;
  color: var(--white-color);
  cursor: pointer;
  padding: 20px;
  text-align: center;
  position: relative;
}

/* Badge number */
.main-bar_badge {
  display: block;
  font-size: 1.4rem;
  padding: 1px 6px;
  border-radius: 10px;
  border: 2px solid #f14a28;
  background-color: var(--white-color);
  line-height: 1.4rem;
  top: 8px;
  right: 8px;
  position: absolute;
  color: #f53e2d;
  font-family: 'Roboto', sans-serif;
}


.navbar-item--dont-hover:hover {
  opacity: 1;
  cursor: default;
}

.fa-brands:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Qr Code Area */
.navbar-item--hasqr:hover .navbar-item_popup {
  display: flex;
  cursor: default;
}

.navbar-item--downloadapp {
  margin: 0;
}

.navbar-item_popup {
  display: none;
  position: absolute;
  width: 190px;
  height: auto;
  padding: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 0px;
  z-index: 2;
  border-radius: 2px;
  box-shadow: var(--box-shadow);
  background-color: var(--white-color);
  margin-top: 10px;
  animation: fadeIn ease 0.5s;
  will-change: opacity, transform;

}

.navbar-item_popup_qr {
  height: 160px;
  width: 160px;
}

.navbar-item_popup::before {
  content: "";
  display: block;
  width: 100%;
  height: 20px;
  position: absolute;
  top: -20px;
}

.navbar-item_popup_groupimg {
  display: flex;
  flex-wrap: wrap;
  max-width: 145px;
  justify-content: space-between;
}

.maketplace {
  height: 16px;
  margin-bottom: 6px;
}

/*Header Notifications */
.header_notify {
  position: absolute;
  top: 25px;
  right: 0;
  width: 404px;
  border-radius: 2px;
  background-color: var(--white-color);
  border: 1px solid #D3D3D3;
  color: var(--text-color);
  z-index: 1;
  display: none;
  transform-origin: calc(100% - 32px) top;
  animation: nofifyPopup ease-in 0.2s;
  will-change: opacity, transform;
  box-shadow: var(--box-shadow);
}

.header_notify::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 25px;
  display: block;
  z-index: 1;
  top: -25px;
}

.navbar-item--hasinfo:hover .header_notify {
  display: block;
}

.header_notify-header {
  height: 40px;
  background-color: var(--white-color);
  user-select: none;
}

.header_notify-header::before {
  content: "";
  border-width: 13px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 10px;
  top: -25px;
  z-index: 1;
}

.header_notify-header h3 {
  color: #999;
  margin: 0 0 0 12px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 40px;
}

.header_notify-list {
  padding-left: 0;
  list-style: none;
}

.header_notify-item {}

.header_notify-item:hover {
  background-color: rgba(230, 229, 229, 0.3);
}

.header_notify-item--viewed {
  background-color: rgba(251, 85, 51, 0.1);
}

.header_notify-link {
  display: flex;
  padding: 12px;
  cursor: pointer;
}

.header_notify-img {
  width: 48px;
  object-fit: contain;
  margin-right: 12px;
}

.header_notify-info {
  flex: 1;
}

.header_notify-name {
  display: block;
  font-size: 1.4rem;
  color: var(--text-color);
  margin-bottom: 5px;
  font-weight: 400;
}

.header_notify-desc {
  display: block;
  font-size: 1.2rem;
  color: #756F6E;
}

.header_notify-footer {
  display: flex;
  margin: 4px 0;
}

.header_notify-footer-btn {
  text-decoration: none;
  color: var(--text-color);
  padding: 8px 16px;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}

/* Language popup */
.navbar-item_lang {
  position: absolute;
  top: 25px;
  right: 0;
  width: 200px;
  background-color: var(--white-color);
  border-radius: 2px;
  border: 1px solid #D3D3D3;
  color: var(--text-color);
  z-index: 1;
  display: none;
  transform-origin: calc(100% - 32px) top;
  animation: nofifyPopup ease-in 0.2s;
  will-change: opacity, transform;
  box-shadow: var(--box-shadow);
}

.navbar-item_lang::before {
  content: "";
  border-width: 13px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 10px;
  top: -25px;
  z-index: 1;
}

.navbar-item_lang::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  display: block;
  z-index: 1;
  top: -20px;
  right: 0;
}

.navbar-item--haslang:hover .navbar-item_lang {
  display: block;
}

.navbar-item_lang h4 {
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color);
  padding-left: 10px;
  cursor: pointer;
}

.navbar-item_lang h4:hover {
  color: var(--primary-color);
}

/* Popup cart */
/* W : 400px H:220px */
.cart_haspopup:hover .cart_popup {
  display: flex;
  font-family: 'Roboto', sans-serif;
}

/* 120px is height of header */
.cart_popup::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  display: block;
  z-index: 1;
  top: -20px;
  right: 0;
  transform-origin: calc(100% - 32px) top;
}

.cart_popup {
  display: none;
  width: 400px;
  top: 82%;
  right: 6px;
  position: absolute;
  background-color: var(--white-color);
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--text-color);
  z-index: 1;
  animation: nofifyPopup ease-in 0.2s;
  will-change: opacity, transform;
  box-shadow: var(--box-shadow);
  flex-direction: column;
  transform-origin: calc(100% - 32px) top;
  cursor: default !important;
  font-family: 'Roboto', sans-serif;
}

.cart_popup--no-cart {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cart_popup--no-cart .cart_popup--img,
.cart_popup--no-cart .cart_popup_text {
  display: flex;
}

.cart_popup::before {
  content: "";
  border-width: 13px 20px;
  border-style: solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 5px;
  top: -25px;
  z-index: 1;
}

.cart_popup--img {
  height: 140px;
  width: auto;
  margin-bottom: 20px;
  cursor: default;
  display: none;
}

.cart_popup_text {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  cursor: text;
  display: none;
}


.cart_popup--has-cart {
  display: flex;
  flex-direction: column;
}

.cart_popup--has-cart .cart_popup-heading,
.cart_popup--has-cart .cart_popup-list-item {
  display: flex;
}

.cart_popup-heading {
  font-size: 1.6rem;
  color: var(--text-color);
  font-weight: 400;
  margin: 10px;
}

.cart_popup-list-item {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: scroll;
}

.cart_popup-list-item::-webkit-scrollbar {
  display: none;
}

.cart_popup-item {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 10px 10px;
}

.cart_popup-item:hover {
  background-color: #fafafa;
}

.cart_popup-item+.cart_popup-item {
  margin-top: 15px;
}

.cart_popup-item-img {
  width: 50px;
  height: 50px;
}

.cart_popup-container-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  flex: 1;
}

.cart_popup-header-price-number {
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.cart_popup-header {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart_popup-price-number {
  display: flex;
}

.cart_popup-price {
  font-size: 1.6rem;
  color: var(--primary-color);
  margin-right: 5px;
}

.cart_popup-number {
  color: #888;

}

.cart_popup-type-delete {
  font-weight: 400;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart_popup-type {
  color: #888;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cart_popup-delete {
  font-size: 1.6rem;
}

.cart_popup-btn {
  font-size: 1.5rem;
  width: 150px;
  height: 36px;
  margin: 10px 10px 10px 0;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  background-color: var(--primary-color);
  color: var(--white-color);
  align-self: flex-end;
}

.cart_popup-btn:hover {
  opacity: 0.8;
}

/* BODY AREAS */

/* Modal Login Form */
.modal {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  animation: fadeIn linear 0.1s;
}

.modal_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.2;
}

.modal_body {
  --growth-from: 0.7;
  --growth-to: 1;
  height: 500px;
  width: 500px;
  margin: auto;
  background-color: var(--white-color);
  z-index: 1;
  position: relative;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: growth linear 0.1s;

}

.modal_inner {
  flex: 9;

}

.auth-form {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.auth-form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;

}

.auth-form__header span {
  padding: 0;
  font-weight: 600;
}

.auth-form__heading {
  font-size: 2rem;
  color: var(--text);
  cursor: text;
}

.auth-form__switch-btn {
  cursor: pointer;
  color: var(--primary-color);
  font-size: 1.5rem;
}

.auth-form__form {
  display: flex;
  flex-direction: column;
}

.auth-form__group {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.auth-form__input {
  margin-bottom: 12px;
  padding: 12px;
  font-size: 1.4rem;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  outline: none;
  font-weight: 400;
  border-radius: 2px;
  border: 1px solid var(--border-color);
}

.auth-form__input:focus {
  border-color: #888;
}

.auth-form__aside {
  display: contents;
  font-weight: 400;
}

.auth-form__policy-text {
  font-size: 1.4rem;
  color: var(--text-color);
  text-align: center;
}

.auth-form__policy--link {
  text-decoration: none;
  color: var(--primary-color);
}

.auth-form__controls {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 40px;
}

.btn {
  min-width: 142px;
  height: 36px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  color: var(--text-color);
}

.btn:hover {
  opacity: 0.8;
}

.btn--primary {
  background-color: var(--primary-color);
  color: var(--white-color);
  margin-left: 20px;
}

.btn--disable {
  color: #949494;
  cursor: default;
  background-color: #c3c3c3;
  margin-left: 20px;

}

.auth-form__socials {
  flex: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  background-color: #f5f5f5;
  text-align: center;
}

.btn_social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 25px;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
}

.btn_social+.btn_social {
  margin-left: 20px;
}

.btn--with-icon-facebook {
  background-color: #3A5A98;
}

.btn--with-icon-google {
  background-color: var(--white-color);
}

.btn--with-icon-facebook i {
  color: var(--white-color);
  font-size: 2rem;

}

.btn--with-icon-google img {
  color: #e34133;
  height: 20px;
  width: 20pxs;

}

.btn__textface {
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: 200;
  margin-left: 10px;
  line-height: 0;
}

.btn__textgg {
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: 400;
  margin-left: 10px;
  line-height: 0;
}

/* Login Form */
.auth-form__help {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;

}

.auth-form__seperate {
  display: block;
  height: 22px;
  margin: 0px 16px 4px;
  border-left: 1px solid var(--border-color);
}

.auth-form__help-link {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  color: #888;
  cursor: pointer;
}

.auth-form__help-link.auth-form__help-link--default {
  color: var(--primary-color);
}